<!-- base.html-->
<!DOCTYPE html>
<html>


<head>
	<meta charset="utf-8">
	<title>
		{% block title %} {% endblock %}
	</title>
 <!-- Bootstrap4 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<body>

	<div class='container-fluid'>
		{% include 'header.html' %}
		<div class='row'>
			<div class='col-sm-4 col-md-4'>
				<div class='panel panel-default'>
					<div class='panel-heading'>
						<h3>MENU</h3>
					</div>
			<div class='panel-body'>
				<div class='list-group'>
					<a href="/" class="list-group-item">Home</a>
					<a href="http://tar.so/news" class='list-group-item'>即時新聞</a>
					<a href="http://drho.tw/news" class='list-group-item'>電視新聞</a>
				</div>
			
			<script type="text/javaScript" src="http://feedjit.com/serve/?vv=1515&amp;dd=0&amp;pid=0&amp;proid=0&amp;bc=FFFFFF&amp;tc=000000&amp;brd1=012B6B&amp;lnk=135D9E&amp;hc=FFFFFF&amp;hfc=2853A8&amp;btn=C99700&amp;ww=190&amp;wne=6&amp;serfs=0"></script><noscript><a href="http://feedjit.com/">Live Traffic Stats</a></noscript>
					</div>
				</div>
			</div>
			<div class='col-sm-8 col-md-8'>
				<div class='panel panel-default'>
					<div class='panel-heading'>
						{% block headmessage %} {% endblock %}
					</div>
					<div class="panel-body">
						{% block content %} {% endblock %}
					</div>
					<div class="panel-footer">
						{% include 'footer.html' %}
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>